.one-album-container {
    background-color: rgb(18, 17, 17);
    border-radius: 6px;
    height: 100px;
    padding-right: 5px;
    margin: 15px;
}
.one-album-container:hover {
    background-color: rgb(36, 34, 34);
    cursor: pointer;
}
.artist-name {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
}
.track-photo {
    height: 100px;
    margin-top: 0px;
    border-radius: 5px;
    max-width: 30%;
}
.album-photo {
    height: 100px;
    margin-top: 0px;
    border-radius: 5px;
    max-width: 50%;
}