@media only screen and (min-width: 800px) {
    .my-navbar {
        width: 10vw;
    }
    .famous-skeleton {
        width: 89vw;
    }
}
@media only screen and (max-width: 800px) {
    .my-navbar {
        width: 20vw;
    }
    .famous-skeleton {
        width: 80vw;
    }
}

.home-page-desktop {
    background-color: black;
    color: white;
}
.my-navbar {
    border-right: 1px solid grey;
    background-color: rgb(18, 17, 17);
    height: inherit;
}
.main {
    width: 100vw;
    height: 85vh;
}
.music-player {
    position: absolute;
    bottom: 0;
    height: 15vh;
    width: 100%;
    margin: 0;
    border-top: 1px solid grey;
    background-color: rgb(18, 17, 17);
}
.navbar-link {
    color: white;
    text-decoration: none;
    margin: 15px 5px;
    border-radius: 5px;
}
.navbar-link:hover {
    background-color: grey;
    cursor: pointer;
}
.navbar-icon {
    height: 20px;
    margin-top: 15px;
    margin-left: 5px;
}
